{% extends 'base.html' %}

{% block title %}
Tracker
{% endblock title %}


{% block main %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="display-3 text-center mt-5 mb-3">Your wishlist</h1>
        <div class="col-md-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
            Add
        </button>
    </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Current Price</th>
                <th scope="col">Required Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
            {% for i in data %}
              <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td><button class="btn btn-warning" value="{{ i[3] }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg></button></td>
                <td><button class="btn btn-danger" value="{{ i[3] }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                </svg></button></td>
              </tr>
            {% endfor %}

            </tbody>
          </table>    
    </div>

</div>

<!-- ADD MODAL -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           
            <form action="/addurl" method="POST">
                <div class="form-group">
                  <input type="text" name="url" class="form-control" id="exampleInputEmail1"  placeholder="Paste URL of product from amazon">
                </div>
                <div class="form-group mt-2">
                  <input type="text" name="price" class="form-control" id="exampleInputPassword1" placeholder="Enter the Price">
                </div>

                <button type="submit" class="btn btn-primary mt-3">Add</button>
              </form>
        </div>
      </div>
    </div>
  </div>
<!-- EDIT MODAL -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">    
        <form action="/editurl" method="POST">
          <div class="form-group mt-2">
            <input type="text" name="price" class="form-control" id="exampleInputPassword1" placeholder="Enter the Price">
          </div>
          <button type="submit" class="btn btn-primary mt-3">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->


{% endblock main %}